.content-box{
    font-family: sans-serif;
}

.heading-section{
    width: 1300px;
    height: 60px;
    /* border: 1px solid black;   */
    margin-top: -20px;
    margin-left: 300px;
}

.heading{
    font-size: 30px;
    font-weight: 300;
}

.languages{
    width: 130px;
    height: 50px;
     /* border: 1px solid black;  */
    margin-left: 1000px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: blue;
}
    

.information{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black;  */
}
.description-box{
    width: 200px;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: -20px;
}

.content-box{
    width: 900px;
    height: 2500px;
    /* border: 1px solid black;   */
    margin-right: 10px;
    margin-top: 17px;
    margin-left: 45px;
}

.picture-box{
    width: 250px;
    /* border: 1px solid black ; */
    height: 1500px;
    margin-left: 20px;
    margin-top: 70px;
}

.article,
.talk{
    font-family: sans-serif;
    text-decoration: none;
    color: blue;
}

.article:visited{
    color: black;
}

.talk:hover{
    text-decoration: underline;
}

.anchor2{
    margin-left: 850px;
    width: 200px;
    height: 20px;
    font-size: 18px;
    /* border: 1px solid black; */
}

/* .vh::after{
    content: "tools"
    
} */
.read,
.edit,
.vh,
.tools{
    padding-right: 10px;
    text-decoration: none;
    
}
.read:visited,
.edit:visited,
.vh:visited{
    color: blue; 
} 
.read:link,
.edit:link,
.vh:link,
.tools:link{
    color: black;
}
.tools{color: black;}

.read:hover,
.edit:hover,
.vh:hover,
.tools:hover{
   text-decoration: underline;
   color: black;
}

.line2{
margin-top: 3px
}








